<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haitao.apollo.dao.purchaser.PurchaserFrozenCashDao">
	<insert id="insertPurchaserFrozenCash" parameterType="com.haitao.apollo.vo.purchaser.PurchaserFrozenCashVo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_purchaser_frozen_cash (
			purchaser_id,
			postreward_id,
			frozen_amount,
			cause,
			pay_status,
			create_time,
			modify_time
		)values(
			#{purchaserId},
			#{postrewardId},
			#{frozenAmount},
			#{cause},
			#{payStatus},
			#{createTime},
			#{modifyTime}
		)
	</insert>
	
	<select id="getPurchaserFrozenCash" resultType="com.haitao.apollo.pojo.purchaser.PurchaserFrozenCash">
		select purchaser_id purchaserId,
			   postreward_id postrewardId,
			   frozen_amount frozenAmount,
			   cause cause,
			   pay_status payStatus,
			   create_time createTime,
			   modify_time modifyTime
	    from t_purchaser_frozen_cash 
	    where purchaser_id = #{purchaserId} and postreward_id = #{postrewardId}
	</select>
	
	<select id="getUnPayPurchaserFrozenCash" resultType="com.haitao.apollo.pojo.purchaser.PurchaserFrozenCash">
		select purchaser_id purchaserId,
			   postreward_id postrewardId,
			   frozen_amount frozenAmount,
			   cause cause,
			   pay_status payStatus,
			   create_time createTime,
			   modify_time modifyTime
	    from t_purchaser_frozen_cash 
	    where purchaser_id = #{purchaserId} and postreward_id = #{postrewardId} and pay_status = 0
	</select>

	<select id="getMyFrozenGuaranteeListByPurchaserId" resultType="com.haitao.apollo.pojo.purchaser.PurchaserFrozenCash">
		select purchaser_id purchaserId,
			   postreward_id postrewardId,
			   frozen_amount frozenAmount,
			   cause cause,
			   pay_status payStatus,
			   create_time createTime,
			   modify_time modifyTime
	    from t_purchaser_frozen_cash 
	    where purchaser_id = #{purchaserId}
	</select>
	
	<update id="finishPurchaserFrozenCash">
		update t_purchaser_frozen_cash 
			set pay_status = 1, 
				modify_time=UNIX_TIMESTAMP()*1000
	    where purchaser_id = #{purchaserId} and postreward_id = #{postrewardId}
	</update>
</mapper>